<%- include('../../partials/userDashboard/header') %>

	<main>
		<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
			<% if(type == 'election'){ %>
				<%- include('../../partials/userDashboard/singleElection', {election}) %>
			<% } else if(type == 'candidate') { %>
				<%- include('../../partials/userDashboard/singleCandidate', {candidate}) %>
			<% } else if(type == 'elections') {%>
				<%- include('../../partials/userDashboard/elections', {elections}) %>
			<%} %>
		</div>
	</main>

<script src="/js/actions.js"></script>
<%- include('../../partials/userDashboard/footer') %>