<%- include('../partials/header') %>
<title>AdminHub</title>
<!-- <link rel="stylesheet" href="/css/elections.css" type="text/css"> -->
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<%- include('../partials/sidebar') %>

<section id="content">
<%- include('../partials/navbar') %>
<%- include('../partials/elections/display_elections', {elections: elections}) %>
</section>
<script src="/js/actions.js"></script>
<%- include('../partials/footer') %>
<!-- 
<script>
    document.addEventListener('DOMContentLoaded', function() {
            // Attach click event listener to sidebar links
            document.querySelectorAll('.sidebar-link').forEach(function(link) {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    var page = this.getAttribute('href');
                    console.log(page);
                    // Make fetch request to fetch data
                    fetch(page)
                    .then(function(response) {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.text();
                    })
                    .then(function(data) {
                        // Update main content with fetched data
                        // console.log(data);
                        document.getElementById('main-content').innerHTML = data;
                    })
                    .catch(function(error) {
                        console.error('Error fetching data:', error);
                    });
                });
            });
        });
</script> -->